@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply overflow-x-hidden px-4 py-16 ml-40 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-2xl md:px-28 lg:px-8 lg:py-20;
}

.active {
  @apply text-white transition-colors duration-200 hover:text-blue-400;
}

.default {
  @apply text-white transition-colors duration-200 hover:text-blue-400;
}

.btn-style {
  @apply relative inline-flex items-center justify-start px-6 py-2 overflow-hidden font-medium transition-all rounded hover:bg-white;
}


/* For active nav item underline with animation */
.scroll-link {
  position: relative;
  padding-bottom: 4px;
  transition: all 0.3s ease;
}

.scroll-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #84cc16; /* Tailwind lime-400 */
  transition: width 0.3s ease-in-out;
}

.scroll-link:hover::after {
  width: 100%;
}

.active-link::after {
  width: 100%;
}
